.page10-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page10-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.page10-text {
  width: 191px;
}
.page10-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: flex-start;
}
.page10-iframe {
  width: 600px;
  height: 350px;
}
.page10-iframe01 {
  width: 600px;
  height: 350px;
}
.page10-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: flex-start;
}
.page10-iframe02 {
  width: 600px;
  height: 350px;
}
.page10-iframe03 {
  width: 600px;
  height: 350px;
}
.page10-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: flex-start;
}
.page10-iframe04 {
  width: 600px;
  height: 350px;
}
.page10-iframe05 {
  width: 600px;
  height: 350px;
}
.page10-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: flex-start;
}
.page10-iframe06 {
  width: 600px;
  height: 350px;
}
.page10-iframe07 {
  width: 600px;
  height: 350px;
}
.page10-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: flex-start;
}
.page10-iframe08 {
  width: 600px;
  height: 350px;
}
.page10-iframe09 {
  width: 600px;
  height: 350px;
}
